/*---------------------------
	Fonts
----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


// fonts
$base-font-size: 15;
$base-font: "Nunito Sans", sans-serif;
$heading-font: "Nunito Sans", sans-serif;



// color
$dark-gray: #000; //
$body-color: #0A0A0A;
$white: #fff;
$light: #7C7C7C; //
$black: #000;
$small-black: #333;
$cyan: #F9F9F9; //

$theme-primary-color: #335935; //
$body-bg-color: #fff;
$section-bg-color: #F1E2CC; //
$text-color: #7F7F8A; //
$text-light-color: #6F6F6F; //
$heading-color: #000;
$border-color: #3C3C3C; //
$border-color-s2: #F1E2CC; //